*.log
logs
*.class
.classpath
.settings
.project
target
classes
artifact.info
log4j.properties
/target
/src/main/grunt/npm-debug.log
.idea
*.iml
RUNNING_PID
public/css-min
public/js-min
node_modules
package-lock.json
